<h1>コメント編集</h1>

<div class="sub flame">
  <%= form_with(model:@comment, local: true) do |f| %>
    <%= f.label :コメント欄, class:"ol-sm-2 control-label" %>
    <%= f.text_area :content, class: "form-control" %>
    <%= f.submit "コメントを編集する", class:"btn btn-primary btn-block" %>
<% end %>


