<% visitor = notification.visitor %>
<% visited = notification.visited %> 
<div class="col-md-6.mx-auto">
  <div class="form-inline">
    <% if notification.post.user_id == visited.id %> 
      <%= visitor.name %>さんが
      <%= link_to "あなたの投稿", notification.post, style: "font-weight: bold;" %> 
      にいいねしました
    <% end %>
    <div class="small.text-muted.text-right">
      <%= time_ago_in_words(notification.created_at).upcase %>前
    </div>
  </div>
</div>
<hr>