<div class="follow layout">
  <%= link_to following_user_path(@user.id) do %>
    <strong id="follow"><%= @user.following.count %></strong> フォロー中
  <% end %>
</div>
<div class="follower layout">
  <%= link_to followers_user_path(@user.id) do %>
    <strong id="follower"><%= @user.followers.count %></strong> フォロワー
  <% end %>
</div>