<div class="home-container">
  <div class="home-title1">〜 Sharing Portfolio 〜</div>
  <div class="home-title2"><span>"エンジニア"</span>による<span>"エンジニア"</span>のためのポートフォリオ公開サービス!!</div>
  <div class="home-title3">作成したポートフォリオをみんなに公開しよう!!</div>
  <% unless !current_user.nil? %>
    <div class="btn-container home-btn">
      <%= link_to "今すぐ始める", new_user_registration_path, class:"btn-base devise-btn" %>
    </div>
  <% end %>
</div>
<h2>最新作品一覧</h2>
<hr style="border: 1px solid #ddd; margin-bottom: 50px;">
<div>
  <%= render "shared/posts" %>
</div>
