<h1>ユーザー詳細画面</h1>
<h2><%= @user.name %></h2>
<% if @user == current_user %>
  <%= link_to "プロフィール編集", edit_user_path %>
<% end %>
<div class="col-md-8">
  <h3>投稿一覧</h3>
  <%= render 'shared/feed' %>
</div>