<% if model.errors.any? %>
  <div class="alert alert-warning">
    <ul class="list-group">
      <% model.errors.full_messages.each do |message| %>
       <li class=""><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>