<div class="login-modal-wrapper inactive" id="login-modal">
  <div class="login-modal-container">
    <div class="close-modal">
      <i class="fa fa-2x fa-times"></i>
    </div>
    <div id="login-form">
      <h2>サービスを閲覧、いいね、コメントなどするにはログインが必要です。</h2>
      <div>
        <%= link_to "ユーザー登録をする（無料）", new_user_path %>
      </div>
      <div>既にアカウントを持っている方はこちら<br>
        <%= link_to "ログインする", new_session_path %>
      </div>
    </div>
  </div>
</div>
