<% if Stock.find_by(user_id: current_user.id, post_id: @post.id) %>
  <%= link_to "/posts/#{@post.id}/stocks", method: :delete, remote: true do %>
    <i class="fas fa-heart" style=""></i>
  <% end %>
<% else %>
  <%= link_to "/posts/#{@post.id}/stocks", method: :post, remote: true do %>
    <i class="far fa-heart"></i>
  <% end %>
<% end %>
<div class="stock-count"><%= @post.stocks.length %></div>