<h1>タグで探す</h1>
<div class="sub flame">
  <% @tag_list.each do |list| %>
    <% unless list.tag_maps.blank? %>
        <%= link_to  "#{list.tag_name}（#{list.posts.count}）", tag_path(list), class:"label label-primary tag" %>
      <% end %>
  <% end %>
</div>

