<h1>タグで探す</h1>
<ul class="list-group">
  <% @tag_list.each do |list| %>
    <% unless list.tag_maps.blank? %>
      <li class="list-group-item">
          <%= link_to list.tag_name, tag_path(list) %>
          <span class="badge">
            <%= list.posts.count %>件
          </span>
        </li>
      <% end %>
  <% end %>
</ul>
