/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 //bootstrap-import
 @import "bootstrap-sprockets";
 @import "bootstrap";


 $gray-medium-light: #eaeaea;

 //ページ全体
 *{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

main{
  padding: 30px 0px;
  width: 90%;
  margin: 0px auto;
}

.flame{
  box-shadow: 0 2px 6px #aaa;
  overflow: hidden;
  background-color: #fff;
}

.sub{
  width: 70%;
  padding: 20px;
  margin: 0px auto;
}

h1{
  text-align: center;
  width: 20%;
  margin: 0 auto;

  line-height: 1;
  background: #b0dcfa; /*背景色*/
  padding: 0.5em;/*文字周りの余白*/
  color: white;/*文字を白に*/
  border-radius: 0.5em;/*角の丸み*/
  
}


h4{
  color: gray;
  line-height: 1;
  text-align: center;
}






//header
header{
  .logo{
    color: #000;
    font-size: 30px;
    text-decoration: none;
    }
}


//footer

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


//homeページ
.home-container{
  display: inline;
  padding: 0, 40px;
}


//post
.flex{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.post-list{
  display: flex;
  height: 350px;
  width: 600px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.post-image{
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.post-caption{
  width: 290px;
}

.post-title {
  border-bottom: solid 3px #cce4ff;
  position: relative;
}
 
.post-title:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #5472cd;
  bottom: -3px;
  width: 20%;
}

  .post-content{
    border-bottom: solid 1px #5472cd;
    width: 85px;
  }

  .post-time{
    font-size: 15px;
    color: gray;
  }
  


//stock
.stock-btn{
  border-radius:30px;
  height: 30px;
  width: 80px;
  font-size: 10px;
}

.stock-count{
  padding-top: 5px;
  padding-left: 5px;
  font-size: 12px;
}


