//bootstrap-import
@import "bootstrap-sprockets";
@import "bootstrap";

//ページ全体
*{
 margin: 0;
 padding: 0;
 text-decoration: none ;
 list-style: none outside;
}

main{
 padding-top: 70px;
 width: 90%;
 margin: 0 auto;
 min-height: 100vh;
 margin-bottom: 50px;
}

.flame{
 box-shadow: 0 2px 6px #5472cd;
 overflow: hidden;
 background-color: #fff;
}

.sub{
 width: 70%;
 padding: 20px;
 margin: 0px auto;
}

.sub2{
 width: 95%;
 padding: 20px;
 margin: 0px auto;
}

.alert{
 margin-top: 50px;
}

h1{
 text-align: center;
 width: 50%;
 margin: 50px auto 40PX;
 line-height: 1;
 background: #dfefff;
 box-shadow: 0px 0px 0px 5px #dfefff;
 border: dashed 1px #96c2fe;
 padding: 0.2em 0.5em;
 color: #454545;
}

h4{
 color: #000;
 line-height: 1;
 text-align: center;
 margin-bottom: 40PX;
}

.inactive{
  display: none;
}

.fa-heart{
  font-size: 30px;
}



//ヘッダー
header{
 .logo{
   color: #fff;
   font-size: 30px;
   text-decoration: none;
   }
}

.navbar{
 background-color: #5472cd;
}

.navbar-nav{  
 padding-right: 15px;
 a{
   color: #fff !important;
 }
 a:hover{
   background-color: #fff !important;
   color: #5472cd !important;
 }
}

.dropdown-menu{
 background-color: #5472cd;
 a:hover{
   color: #5472cd !important;
 }
}

.btn-block{
 margin-top: 15px;
}


//フッター
footer{
 background-color: #5472cd;
 height: 50px;
 ul{
   display: flex;
   float: right;
   margin-bottom: 0px;
   li{
     padding: 15px 0px;
     color: #fff;
   }
   .li:hover{
     background-color: #fff;
     color: #5472cd;
   }
   a{
     color: #fff;
     padding: 17px 20px;
   }
   a:hover{
     text-decoration: none;
   }
 }
}


//homeページ
.home-container{
 height: 500px;
 display: flex;
   padding-top: 200px;
   flex-direction: column;
   align-items: center;
 .home-title1{
   font-size: 55px;
   font-weight: 700;
 }
 .home-title2{
   margin-top: 30px;
   font-size: 35px;
   font-weight: 700;
   span{
     color: red;
     font-size: 40px;
   }
 }
 .home-title3{
   font-size: 35px;
   font-weight: 700;
 }
 .btn{
   margin-top: 40px;
   width: 200px;
   font-size: 20px;
   background-color: #5472cd;
 }
}

//利用規約ページ
.term-title{
 font-weight: 700;
 font-size: 25px;
 margin-top: 30px;
}


.term-list{
 li{
   list-style-type: decimal;
   margin-left: 40px;
   margin-bottom: 10px;
 }
}


//ユーザー登録ページ
.already{
 margin-top: 10px;
}

//ログインページ
.sns-login{
 padding-top: 10px;
 a{
   background-color: rgba(29,161,242,1.00);
   color: #fff;
   padding: 7px 12px;
   float: right;
   border-radius: 4px;
   text-decoration: none;
 }
}


//ユーザー詳細ページ
.user-show-image{
 display: flex;
 justify-content: center;
 img{
   width: 200px;
   border-radius: 50%;
   border: solid 1px #5472cd;
 }
}

.user-show-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    font-weight: 700;
    font-size: 40px;
  }
  .twitter-link{
    background-color: rgba(29,161,242,1.00);
    color: #fff;
    padding: 0px 20px;
    margin: 5px;
    border-radius: 4px;
    text-decoration: none;
  }
  .twitter-link:hover{
    background-color: rgb(4, 104, 167);
  }
  .github-link{
    background-color: gray;
    color: #fff;
    padding: 0px 20px;
    margin: 5px;
    border-radius: 4px;
    text-decoration: none;
  }
  .github-link:hover{
    background-color: #000;
  }
  h3{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 25px;
  }
  p{
    font-size: 30px;
    text-align: center;
    width: 50%;
    font-size: 15px;
    padding: 0px 20px;
  }
}

//新規投稿ページ
.must{
  color: red;
  font-weight: 700;
}


//投稿一覧ページ
.flex{
 display: flex;
 justify-content: space-evenly;
 flex-wrap: wrap;
}

.flex::after{
 display: block;
 content:"";
 width:600px;
}

.post-list{
 display: flex;
 height: 350px;
 width: 600px;
 margin-top: 15px;
 margin-bottom: 15px;
}

.post-image{
 display: flex;
 align-items: center;
 margin-right: 10px;
 width: 280px;
 img{
   width: 280px;
   border: solid 1px #5472cd;
 }
}

.post-caption{
 width: 310px;
 
 .post-title {
   border-bottom: solid 3px #cce4ff;
   position: relative;
 }
 
 .post-title:after {
   position: absolute;
   content: " ";
   display: block;
   border-bottom: solid 3px #5472cd;
   bottom: -3px;
   width: 20%;
   text-overflow: ellipsis;
 }

 .post-box{
   display: flex;
   .post-box2{
     display: flex;
     margin-right: 20px;
     margin-bottom: 10px;
     .post-image{
       width: 30px;
       height: 30px;
       margin-right: 5px;
       margin-bottom: 0px;
       img{
         width: 30px;
         height: 30px;
         border-radius: 50%;
       }
     }
     .post-name{
       margin-top: 5px;
       margin-bottom: 0px;
     }
   }
  }
  .post-time{
    margin-top: 5px;
    font-size: 15px;
    color: gray;
    float: right;
  }
}

 .post-content{
   border-bottom: solid 1px #5472cd;
   width: 85px;
 }



 //投稿詳細
 .show-center {
   text-align: center;
   margin: 0 auto 20px;
 }

 .content-box{
   margin: 30px auto;
 }

 .show-title{
   margin: 20px auto 10px;
   font-weight: 700;
   padding: 0.4em 0.5em;
   color: #494949;
   background: #f4f4f4;
   border-left: solid 5px #7db4e6;
   border-bottom: solid 3px #d7d7d7;
 }

 .show-content{
   margin: auto 0;
   padding-left: 15px;
   p{
     margin: auto 0;
   }
 }
 
 .showtag{
   font-size: 13px;
 }

//タグ
.tag{
 display: block;
 float: left;
 padding: 7px;
 margin: 5px;
 font-size: 14px;
}



//ストック
.stock-block{
  display: flex;
}

.stock-btn1{
  color: #fff;
  height: 30px;
  width: 80px;
  font-size: 13px;
  background-color: rgb(93, 165, 93);
  border: none;
}

.stock-btn2{
  color: #fff;
  height: 30px;
  width: 80px;
  font-size: 13px;
  background-color: rgb(201, 64, 64);
  border: none;
}

.stock-count{
  color: #fff;
  position: relative;
  display: inline-block;
  margin-left: 20px;
  padding: 7px 10px;
  font-size: 13px;
  background: #798fd1;
  border-radius: 50%;
}

.stock-count:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #798fd1;
}




//コメント
.comment{
 display: flex;
 margin-top: 10px;
}

.user-image{
 margin-right: 10px;
 img{
   width: 30px;
   height: 30px;
   border-radius: 50%;
 }
}

.comment-box{
 display: flex;
 margin-bottom: 5px;
 .comment-name{
   margin-right: 20px;
 }
 
 .comment-time{
   color: gray;
   margin: 0 0;
 }
}
 
.comment-box2{
 display: flex;
 padding-left: 40px;
 .comment-edit{
   margin: 5px;
   float: right;
 }
}

.new-comment{
 margin-top: 30px;
 p{
   font-weight: 700;
 }
}

//ページネーション
.pagination>li>a {          
 border: none;     
 color: #5472cd;   
}

.pagination>.active>a {     
 background: #5472cd;
 border-radius: 15px;
}

.pagination>li>a:hover {        
 border-radius: 15px; 
}

//問い合わせページ
.info1{
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.info2{
  text-align: center;
  font-size: 18px;
}
