//bootstrap-import
@import "bootstrap-sprockets";
@import "bootstrap";


// --------  ページ全体  --------------------------------------------------
*{
 margin: 0;
 padding: 0;
 text-decoration: none ;
 list-style: none outside;
 font-family: "Hannotate SC";
}


.btn-container{
  text-align: center;
  .btn-base{
    text-decoration: none;
    padding: 5px 40px;
    margin-top: 20px;
    text-align: center;
    background-color: #5472cd;
    color: #fff;
    border: 1px solid #5472cd;
    font-weight: 700;
  }
  .btn-base:hover{
    transition: 0.5s;
    background-color: #0e35ac;
  }
}


.total{
  display: none;
}

iframe{
  width: 100%;
  font-family: "Hannotate SC";
}


main{
 padding-top: 90px;
 width: 90%;
 margin: 0 auto;
 min-height: 100vh;
 margin-bottom: 50px;
}

.flame{
 box-shadow: 0 2px 6px #5472cd;
 overflow: hidden;
 background-color: #fff;
}

.sub{
 width: 70%;
 padding: 20px;
 margin: 0px auto;
}

.sub1{
  width: 50%;
 padding: 20px;
 margin: 0px auto;
}

.sub2{
 width: 95%;
 padding: 20px;
 margin: 0px auto;
}

.alert{
  z-index: 1;
  position: absolute;
  top: 80px;
  right: 20px;
  display: none;
  font-weight: 700;
  font-size: 18px;
}

.alert-notice{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-alert{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}


h1{
 text-align: center;
 width: 50%;
 margin: 50px auto 40PX;
 line-height: 1;
 background: #dfefff;
 box-shadow: 0px 0px 0px 5px #dfefff;
 border: dashed 1px #96c2fe;
 padding: 0.2em 0.5em;
 color: #454545;
}

h4{
 color: #000;
 line-height: 1;
 text-align: center;
 margin-bottom: 40PX;
}

.inactive{
  display: none;
}

.fa-heart{
  font-size: 30px;
}

.fa-twitter{
  color: rgb(29, 161, 242);
}



// --------  ヘッダー  ----------------------------------------------------
header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 70PX;
  position: fixed;
  z-index: 1000;
  background-color: #5472cd;
}

.logo {
  margin: 0 auto;
  a{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    user-select: none;
  }
}

.header-icon{
  display: flex;
  position: fixed;
  align-items: center;
  left: 100%;
  margin-left: -280px;
  .header-search{
    width: 120px;
    color: #fff;
    cursor: pointer;
    user-select: none;
    .fa-search{
      padding-left: 5px;
    }
  }
  div{
    padding: 0 12px;
  }
}

#tag-bar{
  flex-wrap: wrap;
  position: fixed;
  padding:10px ;
  padding-left: 30px;
  top: 70px;
  width: 100%;
  background-color: #5472cd;
  opacity: 0.8;
  a{
    text-decoration: none;
  }
  a:before {
    content: "#";	
  }
  a:hover {
    color: #fff;
    transition: 0.5s;
  }
}

.tag-search{
  margin: 0 .1em .6em 0;
	padding: .6em;
	line-height: 1;
  border-radius: 2em;
  border: 1px solid #0000ee;
  color: #0000ee;
  display: inline-block;
  font-size: 15px;
  background-color: #fff;
  font-weight: 700;
}

.tag-search:hover{
  background-color: #000eee;
  opacity: 0.6;
  transition: 0.5;
}

.tag-close{
  float: right;
  cursor: pointer;
  user-select: none;
  font-size: 20px;
  color: #fff;
  margin-right: 10px;
}


// .navbar{
//  background-color: #5472cd;
// }

.btn-block{
 margin-top: 15px;
}

#ham-menu{
  position: fixed;
  top: 0;
  left: -300px;
  background-color: #5472cd;
  width: 300px;
  height: 100%;
  padding: 25px 40px;
  z-index: 1000;
  opacity: 0.9;
  font-size: 18px;
  .fa-times-circle{
    font-size: 30px;
    color: #fff;
    cursor: pointer;
  }
  .fa-times-circle:hover{
    color: #0000ee;
    transition: 0.5s;
  }
  .ham-item{
    width: 100%;
    a{
      color: #fff;
      width: 220px;
      display: block;
      padding: 15px 1rem;
    }
    a:hover{
      text-decoration: none;
      color: #0000ee;
      transition: 0.5s;
    }
  }
}


.open-side{
  position: fixed;
  left: 5px;
  cursor: pointer;
}

.side-bg{
  background-color:#558;
  width:100vw;
  height:100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
  display: none;
}


// --------  フッター  ----------------------------------------------------
footer{
 background-color: #5472cd;
 height: 50px;
 div{
   color: #fff;
   line-height: 50px;
   text-align: center;
 }
}


// --------  ホーム画面  --------------------------------------------------
.home-container{
 height: 500px;
 display: flex;
   padding-top: 200px;
   flex-direction: column;
   align-items: center;
 .home-title1{
   font-size: 55px;
   font-weight: 700;
 }
 .home-title2{
   margin-top: 30px;
   font-size: 35px;
   font-weight: 700;
   span{
     color: red;
     font-size: 40px;
   }
 }
 .home-title3{
   font-size: 35px;
   font-weight: 700;
 }
 .home-btn{
   margin-top: 40px;
 }
}


// --------  利用規約  ----------------------------------------------------
.term-title{
 font-weight: 700;
 font-size: 25px;
 margin-top: 30px;
}


.term-list{
 li{
   list-style-type: decimal;
   margin-left: 40px;
   margin-bottom: 10px;
 }
}


// --------  ユーザー新規登録 ログイン  -----------------------------------
.twitter-login{
  background-color: rgb(240, 246, 250);
  border: 1px solid rgb(29, 161, 242);
  opacity: 0.9;
  margin: 10px 0;
  a{
    display: block;
    padding: 10px;
    color: rgb(29, 161, 242);
    text-align: center;
    text-decoration: none;
    font-size: 1em;
  }
  a:hover{
    color: rgb(16, 80, 121);
    transition: 0.5s ;
  }
  .fa-twitter{
    color: rgb(2, 137, 221);
  }
}

.twitter-login:hover{
  border-color: rgb(2, 137, 221);
  background-color: rgb(212, 235, 252);
  transition: 0.5s ;
}

.github-login{
  background-color: rgb(240, 239, 239);
  border: 1px solid grey;
  opacity: 0.9;
  margin: 10px 0;
  a{
    display: block;
    padding: 10px;
    color: grey;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
  }
  a:hover{
    color: rgb(90, 90, 90);
    transition: 0.5s ;
  }
  .fa-github{
    color: grey;
  }
}

.github-login:hover{
  border-color: rgb(90, 90, 90);
  background-color: rgb(230, 227, 227);
  transition: 0.5s ;
}

.guest-login{
  background-color: rgb(220, 240, 220);
  border: 1px solid green;
  opacity: 0.9;
  margin: 10px 0;
  a{
    display: block;
    padding: 10px;
    color: green;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
  }
  a:hover{
    color: rgb(1, 70, 1);
    transition: 0.5s ;
  }
  .fa-github{
    color: grey;
  }
}

.guest-login:hover{
  border-color: rgb(1, 99, 1);
  background-color: rgb(191, 243, 191);
  transition: 0.5s ;
}


// --------  利用方法  ----------------------------------------------------
.how-to-use{
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  .title{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
    font-size: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
  }
  .title2{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  dl{
    width: 90%;
    margin: 30px auto;
    dt{
      i{
        margin-right: 15px;
      }
      font-size: 20px;
      color: #5472cd;
      font-weight: 700;
    }
    dd{
      margin-bottom: 20px;
      font-size: 15px;
    }
  }
}





// --------  ユーザー編集  ------------------------------------------------
.delete-user{
  width: 40%;
  margin: 5px auto;
  border: 1px solid #ddd;
  font-weight: 700;
  a{
    display: block;
    padding:5px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    color: rgb(224, 110, 110);
  }
  a:hover{
    color: red;
    transition: 0.5s;
  }
}

.back{
  width: 15%;
  margin: 10px auto;
  font-weight: 700;
  a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: grey;
  }
  a:hover{
    color: #000;
    transition: 0.5s;
  }
}


// --------  ユーザー詳細  ------------------------------------------------
.user-show-image{
 display: flex;
 justify-content: center;
 img{
   width: 200px;
   border-radius: 50%;
   border: solid 1px #5472cd;
 }
}

.user-show-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    font-weight: 700;
    font-size: 40px;
  }
  .sns-container{
    display: flex;
  }

  .fa-twitter-square{
    font-size: 40px;
    color: rgb(29, 161, 242);
    margin: 10px;
  }
  
  .fa-twitter-square:hover{
    color: rgb(32, 117, 170);
    transition: 0.5s;
  }
  .fa-github-square{
    font-size: 40px;
    color: #5f5d60;
    margin: 10px;
  }
  .fa-github-square:hover{
    color: #000;
    transition: 0.5s;
  }
  h3{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 25px;
  }
  p{
    font-size: 30px;
    text-align: center;
    width: 50%;
    font-size: 15px;
    padding: 0px 20px;
  }
}


// --------  新規投稿  ---------------------------------------------------
.must{
  color: red;
  font-weight: 700;
}


// --------  投稿一覧  ---------------------------------------------------
.flex{
 display: flex;
 justify-content: space-evenly;
 flex-wrap: wrap;
}

.flex::after{
 display: block;
 content:"";
 width:600px;
}

.post-list{
 display: flex;
 height: 350px;
 width: 600px;
 margin-top: 15px;
 margin-bottom: 15px;
}

.post-image{
 display: flex;
 align-items: center;
 margin-right: 10px;
 width: 280px;
 img{
   width: 280px;
   border: solid 1px #5472cd;
 }
}

.post-caption{
 width: 310px;
 
 .post-title {
   border-bottom: solid 3px #cce4ff;
   position: relative;
 }
 
 .post-title:after {
   position: absolute;
   content: " ";
   display: block;
   border-bottom: solid 3px #5472cd;
   bottom: -3px;
   width: 20%;
   text-overflow: ellipsis;
 }

 .post-box{
   display: flex;
   .post-box2{
     display: flex;
     margin-right: 20px;
     margin-bottom: 10px;
     .post-image{
       width: 30px;
       height: 30px;
       margin-right: 5px;
       margin-bottom: 0px;
       img{
         width: 30px;
         height: 30px;
         border-radius: 50%;
       }
     }
     .post-name{
       margin-top: 5px;
       margin-bottom: 0px;
     }
   }
  }
  .post-time{
    margin-top: 5px;
    font-size: 15px;
    color: gray;
    float: right;
  }
}

 .post-content{
   border-bottom: solid 1px #5472cd;
   width: 85px;
 }


 // --------  投稿詳細  ---------------------------------------------------
 .show-center {
   text-align: center;
   margin: 0 auto 20px;
 }

 .content-box{
   margin: 30px auto;
 }

 .show-title{
   margin: 20px auto 10px;
   font-weight: 700;
   padding: 0.4em 0.5em;
   color: #494949;
   background: #f4f4f4;
   border-left: solid 5px #7db4e6;
   border-bottom: solid 3px #d7d7d7;
 }

 .show-content{
   margin: auto 0;
   padding-left: 15px;
   p{
     margin: auto 0;
   }
 }
 
 .showtag{
   font-size: 13px;
 }


// --------  タグ  --------------------------------------------------------
.tag{
 display: block;
 float: left;
 padding: 7px;
 margin: 5px;
 font-size: 14px;
}



// --------  ストック  ----------------------------------------------------
.stock-block{
  display: flex;
}

.stock-count{
  color: #fff;
  position: relative;
  display: inline-block;
  margin-left: 20px;
  padding: 7px 10px;
  font-size: 13px;
  background: #798fd1;
  border-radius: 50%;
}

.stock-count:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #798fd1;
}




// --------  コメント  ----------------------------------------------------
.comment{
 display: flex;
 margin-top: 10px;
}

.user-image{
 margin-right: 10px;
 img{
   width: 30px;
   height: 30px;
   border-radius: 50%;
 }
}

.comment-box{
 display: flex;
 margin-bottom: 5px;
 .comment-name{
   margin-right: 20px;
 }
 
 .comment-time{
   color: gray;
   margin: 0 0;
 }
}
 
.comment-box2{
 display: flex;
 padding-left: 40px;
 .comment-edit{
   margin: 5px;
   float: right;
 }
}

.new-comment{
 margin-top: 30px;
 p{
   font-weight: 700;
 }
}


// --------  ページネーション  --------------------------------------------
.pagination>li>a {          
 border: none;     
 color: #5472cd;   
}

.pagination>.active>a {     
 background: #5472cd;
 border-radius: 15px;
}

.pagination>li>a:hover {        
 border-radius: 15px; 
 transition: 0.5s;
}


// --------  問い合わせ  --------------------------------------------------
.info1{
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.info2{
  text-align: center;
  font-size: 18px;
}


// --------  モーダル  ----------------------------------------------------

.login-modal-wrapper, .signup-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.login-modal-container {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

#signup-form, #login-form {
  width: 100%;
}

#signup-form h2, #login-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#signup-form input, #login-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #5dca88;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}