<footer class="footer">
  <div class="container">
    <ul class="nav navbar ">
      <li><%= link_to "サービス概要", "#" %></li>
      <li><%= link_to "お問い合わせ", "#" %></li>
      <li><%= link_to "利用規約", "#" %></li>
    </ul>
  </div>
</footer>