<footer>
  <ul>
    <li>© Sharing Portfolio. 2021</li>
    <li class="li"><%= link_to "お問い合わせ", new_contact_path %></li>
    <li class="li"><%= link_to "利用規約", term_users_path %></li>
  </ul>
</footer>