<header>
  <div class="container">
    <%= link_to "Sharing Portfolio", root_path, class:"header-logo" %>
    <ul class="nav navbar ">
      <li><%= link_to "ログイン", new_session_path %></li>
      <li><%= link_to "新規作成", new_user_path %></li>
    </ul>
  </div>
</header>