<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="open-side">
    <i class="fas fa-bars" style="font-size:30px; color:#fff;"></i>
  </div>
  <%= render "shared/sidebar" %>
  <div class="logo">
    <%= link_to "Sharing Portfolio", root_path %>
  </div>
</header>
